<mat-toolbar color="primary" class="filters">
  <mat-toolbar-row>
    <div id="count-label">
      Displaying <span id="record-count">{{results.length}}</span> Records
    </div>
    <span id="toolbar-spacer"></span>
    <mat-checkbox id="filter-commentRequired" [value]="commentsRequired" (change)="onCommentChange($event.checked)" >
      <mat-icon fontSet="fa" fontIcon="fa-comment"></mat-icon>
    </mat-checkbox>
    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="appliedFilter" (change)="onFilterChange(group.value)">
      <mat-button-toggle id="filter-good" value="good">
        <mat-icon fontSet="fa" fontIcon="fa-grin-stars"></mat-icon>
      </mat-button-toggle>
      <mat-button-toggle id="filter-okay" value="okay">
        <mat-icon fontSet="fa" fontIcon="fa-meh"></mat-icon>
      </mat-button-toggle>
      <mat-button-toggle id="filter-bad" value="bad">
        <mat-icon fontSet="fa" fontIcon="fa-sad-tear"></mat-icon>
      </mat-button-toggle>
      <mat-button-toggle id="filter-off" value="off" [disabled]="appliedFilter == null || appliedFilter.length < 1">
        <mat-icon fontSet="fa" fontIcon="fa-undo"></mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar-row>
</mat-toolbar>
<mat-grid-list id="survey-results" cols="3" rowHeight="300px">
  <mat-grid-tile *ngFor="let response of results">
    <mat-card id="response-{{response.id}}">
      <mat-card-content>
        <div class="survey-left icon-color-{{response.rating.toLowerCase()}}">
          <mat-icon class="rating-icon" fontSet="fa" fontIcon="{{response.rating | responseIcon}}"></mat-icon>
        </div>
        <div class="survey-right">
          <div class="response-date">{{response.createdAt }}</div>
          <div class="rating">{{response.score}}</div>
          <div class="comment">{{response.comment != null && response.comment.length > 0 ? '"' + response.comment + '"' : ""}}</div>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <div class="footer-left">
          {{response.personProperties.browser}}
        </div>
        <div class="footer-middle">
          <a href="http://www.google.com/" target="_blank">{{response.personProperties.customerId}}</a>
        </div>
        <div class="footer-right">
        </div>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
